# Dependencias
node_modules/

# Build
dist/
dist-ssr/

# Variables de entorno
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
*.swp
*.swo
*.suo

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel/

# PWA generados
dev-dist/
